@import url('https://fonts.googleapis.com/css?family=Staatliches');


section {
  margin-bottom: 100px;
}

.navbar-brand {
  font-family: 'Staatliches', cursive;
  font-size: 30px;

}

#footer {
  background-color: darkgray;
}

.billboard {
  margin-top: 50px;
  margin-bottom: 200px;
}

.billboard-logo {
  width: 500px;
  height: 100px;
}

.border-image {
  filter: grayscale(100%);
  margin-top: 50px;
  text-align: center;
  /* opacity: 0.5; */
  background-image: url('/images/network.png');
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.section-header {
  margin-bottom: 200px;
}

.partner-logo img {
  filter: alpha(opacity=50); /* For IE8 and earlier */
  max-width: 300px;
}

.mt50 {
  margin-top: 50px;
}

.mt15 {
  margin-top: 15px;
}

.pt50 {
  padding-top: 50px;
}

.example-post {
  padding: 20px;
  border: 2px solid lightgrey;
  border-radius: 5px;
}

.post-user {
}

.user-photo {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

.post-header {
  border-bottom: 1px solid lightgrey;
}

.post-title {
  margin-top: 5px;
}
.post-title h1 {
  size: 30px;
}

.post-content {
  padding: 20px;
  border-bottom: 1px solid lightgray; 
}

.post-footer {
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
}

.logo-container {
  margin: 50px;
}

.crush-bar {
  word-break: break-all;
  word-wrap: break-word;
}

/* .crush-bar input {
  text-align: right;
  width: 100px;
} */
.crush-button {
  vertical-align: middle;

}


.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid orange; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  visibility: hidden;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.team-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-receipt {
  word-break: break-all;
  word-wrap: break-word;
}

.rotate90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}